body{
	background-color: #efefef;
	font-family: "Open Sans", "Helvetica Neue", Helvetica;
	font-size: 12px;
	width:  100%;
}

div.box{
	width:  1250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#header{
	font-size: 32px;
}
.nav-bar{
	font-size: 24px;
	padding: 5px;
	width: 1000px;
	margin: 0px auto 0px auto;
	border-top: 4px solid black;
	border-bottom: 2px solid black;
	text-align: center;
}
a:link{
	text-decoration:none;
	color: black;
}
a:visited{
	text-decoration:none;
	color: black;
}
a:hover{
	color: silver;
	text-decoration: underline;
}
.nav-bar > li{
	display: inline;
	margin: 0px 25px;
}

.images-carousel{
	width: 1000px;
	margin: 0px auto 0px auto;
	padding:  5px;
	text-align: center;
}
li{
	display: inline;

}

img{
	width: 250px;
	height: 250px;
}
p {
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;}