body{
	color:  white;
	font-family: Arial;
	background-color: goldenrod;
	padding: 10px;
}
h1{
	background-color: #ffffff;
	background-color: hsla(0,100%,100%,0.5);
	color: #64645A;
	padding: inherit;
}
p{
	padding: 10px;
	margin:  0px;
}
p.one{
	background-color: rgb(190,0,100);
}
p.two{
	background-color: rgb(200,0,120);
}
p.three{
	background-color: rgb(200,0,150);
}
p.four{
	background-color: rgb(200,0,170);
}
p.five{
	background-color: rgb(200,0,190);
}
p.six{
	background-color: rgb(200,0,220);
}
p.seven{
	background-color: rgb(0,190,0);
}
p.eight{
	background-color: rgb(0,0,225);
}
p.nine{
	background-color: rgb(0,0,200);
}
p.ten{
	background-color: rgb(0,0,175);
}
p.eleven{
	background-color: rgb(0,0,150);
}
p.twelve{
	background-color: rgb(0,0,125);
}
p.thirteen{
	background-color: rgb(0,0,100);
}
p.fourteen{
	background-color: rgb(0,0,75);
}