/* Fixed layout */
/*
body {
	width: 960px;
	margin: 0 auto;}
	#content {
	overflow: auto;
	height: 100%;}
	#nav, #feature, #footer {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;}
	.column1, .column2, .column3 {
	background-color: #efefef;
	width: 300px;
	float: left;
	margin: 10px;}
li {
	display: inline;
	padding: 5px;}
	*/

/*Liquid layout*/
/*body {
	width: 90%;
	margin: 0 auto;}
	#content {overflow: auto;}
	#nav, #feature, #footer {
	margin: 1%;}
	.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}
	.column3 {margin-right: 0%;}
li {
	display: inline;
	padding: 0.5em;}
	#nav, #footer {
	background-color: #efefef;
	padding: 0.5em 0;}
	#feature, .article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;}*/

/** {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;}
	#nav, #feature, .article, #footer {
	background-color: #efefef;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;}
	#feature, .article {
	height: 100px;}
li {
	display: inline;
	padding: 5px;}*/

@font-face {
	font-family: 'QuicksandBook';
	src: url('fonts/Quicksand_Book-webfont.eot');
	src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
	 url('fonts/Quicksand_Book-webfont.woff') format('woff'),
	 url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
	 url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
 	font-weight: normal;
	font-style: normal;}
body {
	color: #ffffff;
	background: #413f3b url("../images/bg.jpg");
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 90%;
	margin: 0px;
	text-align: center;}
a {
	color: #b5c1ad;
	text-decoration: none;}
a:hover {
	color: #ffffff;}
.header {
	background-image: url("../images/bg-header.jpg");
	padding: 0px 0px 0px 0px;
	height: 100px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;}
.nav {
	float: right;
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	padding: 45px 0px 0px 0px;
	text-align: right;}
.wrapper {
	width: 960px;
	margin: 0px auto;
	background-image: url("images/bg-triangle.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;}
.logo {
	margin-bottom: 20px;}
h1, h2 {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;}
h1 {
	font-size: 240%;
	margin-top: 140px;}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: #b5c1ad;}
.intro {
	clear: left;
	font-size: 90%;
	line-height: 1.4em;}
.main-story {
	background-image: url("images/triangles.png");
	background-repeat: no-repeat;
	background-position: 122px 142px;
	height: 570px;}
.more-articles {
	border-top: 1px solid #ffffff;
	padding: 10px;}
.more-articles p {
	border-bottom: 1px solid #807c72;
	padding: 5px 0px 15px 0px;
	font-size: 80%;}
.more-articles p:last-child {
	border-bottom: none;}
.footer {
	clear: both;
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 10px;}
.footer p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	text-align: right;}
.footer a {
	color: #807c72;}