/*body{
	font-family: Arial, Verdana, sans-serif;
	color: #111111;
}
th, td{
	padding: 7px;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;}
tr.even {
	background-color: #efefef;}
tr:hover {
	background-color: #c3e6e5;}
.money {
	text-align: right;}

div {
	border-bottom: 1px solid #efefef;
	margin: 10px;
	padding-bottom: 10px;
	width: 400px;}
.title {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;}
.radio-buttons label {
	float: none;}
.submit {
	text-align: right;}
*/
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 90%;
	color: #666;
	background-color: #f8f8f8;}
li {
	list-style-image: url("images/icon-plus.png");
	line-height: 1.6em;}
table {
	border-spacing: 0px;}
th, td {
	padding: 5px 30px 5px 10px;
	border-spacing: 0px;
	font-size: 90%;
	margin: 0px;}
th, td {
	text-align: left;
	background-color: #e0e9f0;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;}
tr.head th {
	color: #fff;
	background-color: #90b4d6;
	border-bottom: 2px solid #547ca0;
	border-right: 1px solid #749abe;
	border-top: 1px solid #90b4d6;
	text-align: center;
 	text-shadow: -1px -1px 1px #666;
	letter-spacing: 0.15em;}
td {
	text-shadow: 1px 1px 1px #fff;}
tr.even td, tr.even th {
				 background-color: #e8eff5;}
tr.head th:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;}
tr.head th:last-child {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;}
fieldset {
	width: 310px;
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
	line-height: 1.6em;}
legend {
	font-style:italic;
	color:#666666;}
input[type="text"] {
	width: 120px;
	border: 1px solid #d6d6d6;
	padding: 2px;
	outline: none;}
input[type="text"]:focus,
input[type="text"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;}
input[type="submit"] {
	border: 1px solid #006633;
	background-color: #009966;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;}
input[type="submit"]:hover {
	border: 1px solid #006633;
 	background-color: #00CC33;
	color: #FFFFFF;
	cursor: pointer;}
.title {
	float: left;
	width: 160px;
	clear: left;}
.submit {
	width: 310px;
	text-align: right;}